forcefield: amber
water model: None

LJ interaction cutoff, nm: 1

periodic box margin, %: 0

friction, 1/picosecond: 1
integration timestep, femtoseconds: 2
equilibration time, nanoseconds: 0.5
production time, nanoseconds: 1
trajectory log frequency, nanoseconds: 0.001
pressure enforcing frequency, nanoseconds: 0.00005