forcefield: openff
water model: None

LJ interaction cutoff, nanometer: 1

periodic box margin, %: 0

aa friction, 1/picosecond: 1
aa integration timestep, femtoseconds: 2
aa equilibration time, nanoseconds: 0.5
aa production time, nanoseconds: 1
aa trajectory log frequency, nanoseconds: 0.001
aa pressure enforcing frequency, nanoseconds: 0.00005

cg forcefield: srel

cg ff parameters: {"nonbonded":{"gamma":{"type":"pairwise","default":1.0},"a":{"type":"individual","default":1.0}},"bonded":{"b":{"type":"pairwise","default":1.0}}}

cg interaction cutoff, nanometer: 1.55

cg friction, 1/picosecond: 1
cg integration timestep, femtoseconds: 20
cg equilibration time, nanoseconds: 0.2
cg production time, nanoseconds: 3
cg trajectory log frequency, nanoseconds: 0.01
cg pressure enforcing frequency, nanoseconds: 0.001

opt iterations: 50
opt threshold: 0.05
opt learning rate: 0.001