project name: Project_Partial_Mixed

solvents: O CCCCCCCCCCCC
number of solvent molecules: 200 100
density of solvents in g/cm3: 1 0.75

compounds of interest: O1CCOCC1
number of CoI molecules: 10
density of CoI in g/cm3: 1.03

mixture type: 2
mixture parameters: 1

temperature, K: 300
pressure, bar: 1
simulation type: NPT